.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
render.yaml
.env/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
.yaml
#ignore all yaml
*.yaml
# Ignore Python bytecode files
*.py[cod]